@page
@model VetsApp.Pages.Clients.IndexModel
@{
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Profile Info</h2>
        </div>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="row">First Name</th>
                <th scope="row">Surname</th>
                <th scope="row">Contact Number</th>
                <th scope="row">Postcode</th>
                <th scope="row">Pet Name</th>
                <th scope="row">Pet Breed</th>
                <th scope="row">Pet Age</th>
                <th scope="row">Pet Gender</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var obj in Model.Members)
            {
                <tc>
                    @*<th scope="row">First Name</th>*@
                    <td scope="col">@obj.FirstName</td>
                </tc>
                <tc>
                    @*<th scope="row">Surname</th>*@
                    <td scope="col">@obj.Surname</td>
                </tc>
                <tc>
                    @*<th scope="row">Contact Number</th>*@
                    <td scope="col">@obj.ContactNumber</td>
                </tc>
                <tc>
                    @*<th scope="row">Postcode</th>*@
                    <td scope="col">@obj.Postcode</td>
                </tc>
                <tc>
                    @*<th scope="row">Pet Name</th>*@
                    <td scope="col">@obj.PetName</td>
                </tc>
                <tc>
                    @*<th scope="row">Pet Breed</th>*@
                    <td scope="col">@obj.PetBreed</td>
                </tc>
                <tc>
                    @*<th scope="row">Pet Age</th>*@
                    <td scope="col">@obj.PetAge</td>
                </tc>
                <tc>
                    @*<th scope="row">Pet Gender</th>*@
                    <td scope="col">@obj.PetGender</td>
                </tc>
            }
        </tbody>
    </table>
</div>
